name: Java Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      - name: Build with Maven
        run: mvn clean install

      - name: Verificar estructura del directorio de trabajo
        run: ls -R /home/runner/work/

      - name: Verificar contenido del directorio
        run: ls /home/runner/work/NurAlign-back/NurAlign-back/target/

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy to VPS
        run: |
          # Comandos para detener la aplicación actual, si es necesario
          scp -o StrictHostKeyChecking=no /home/runner/work/NurAlign-back/NurAlign-back/target/nuralign-0.0.1-SNAPSHOT.jar root@77.37.69.38:/root/NurAlign-back/nuralign-0.0.1-SNAPSHOT.jar
          # Comandos para iniciar la nueva versión de la aplicación
          # Reiniciar servicio
          ssh -o StrictHostKeyChecking=no root@77.37.69.38 'systemctl restart nuralign'
      
      - name: Ejecutar proyecto
        run: |
          ssh -o StrictHostKeyChecking=no root@77.37.69.38 'java -jar /root/NurAlign-back/nuralign-0.0.1-SNAPSHOT.jar'
