name: Java Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      - name: Build with Maven
        run: mvn clean install

      - name: Verificar contenido del directorio
        run: ls /home/runner/work/NurAlign-back/target/
      - name: Deploy to VPS
        run: |
          # Comandos para detener la aplicación actual, si es necesario
          #sshpass -p "${{ secrets.VPS_SSH_PASSWORD }}" scp -o StrictHostKeyChecking=no  /home/runner/work/NurAlign-back/target/nuralign-0.0.1-SNAPSHOT.jar root@77.37.69.38:/root/NurAlign-back/nuralign-0.0.1-SNAPSHOT.jar
          # Comandos para iniciar la nueva versión de la aplicación
          # Reiniciar servicio
          #sshpass -p "${{ secrets.VPS_SSH_PASSWORD }}" ssh -o StrictHostKeyChecking=no root@77.37.69.38 'systemctl restart nuralign'